<h1>TAuctions#index</h1>
<p>Find me in app/views/t_auctions/index.html.erb</p>

<%= form_for :t_auction do |f| %>
  <div class="input-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.submit "Сохранить" %>
  </div>
<% end %>


