@import "materialize/components/color";
$primary-color: color("red", "darken-4") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.debug_info {
  background-color: #666666;
  border: 1px solid #666666;
  border-radius: 10px;
  position: relative;
  text-align: left;
  left: 10%;
  width: 80%;
  margin-top: 45px;
  padding-left: 40px;
  color: #999999;
}